<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cat.dao.CatMapper" >
  <resultMap id="BaseResultMap" type="com.cat.pojo.Cat" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="healthy" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="birth" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="weight" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="len" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="variety" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="man" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="yn" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, gender, pic, healthy, birth, weight, len, variety, man, yn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from miao_cat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from miao_cat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cat.pojo.Cat" >
    insert into miao_cat (id, name, gender, 
      pic, healthy, birth, weight, 
      len, variety, man, 
      yn)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, 
      #{pic,jdbcType=VARCHAR}, #{healthy,jdbcType=INTEGER}, #{birth,jdbcType=DATE}, #{weight,jdbcType=INTEGER}, 
      #{len,jdbcType=INTEGER}, #{variety,jdbcType=INTEGER}, #{man,jdbcType=INTEGER}, 
      #{yn,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cat.pojo.Cat" >
    insert into miao_cat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="healthy != null" >
        healthy,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="len != null" >
        len,
      </if>
      <if test="variety != null" >
        variety,
      </if>
      <if test="man != null" >
        man,
      </if>
      <if test="yn != null" >
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null" >
        #{healthy,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=DATE},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="len != null" >
        #{len,jdbcType=INTEGER},
      </if>
      <if test="variety != null" >
        #{variety,jdbcType=INTEGER},
      </if>
      <if test="man != null" >
        #{man,jdbcType=INTEGER},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cat.pojo.Cat" >
    update miao_cat
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="healthy != null" >
        healthy = #{healthy,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=DATE},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="len != null" >
        len = #{len,jdbcType=INTEGER},
      </if>
      <if test="variety != null" >
        variety = #{variety,jdbcType=INTEGER},
      </if>
      <if test="man != null" >
        man = #{man,jdbcType=INTEGER},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cat.pojo.Cat" >
    update miao_cat
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      pic = #{pic,jdbcType=VARCHAR},
      healthy = #{healthy,jdbcType=INTEGER},
      birth = #{birth,jdbcType=DATE},
      weight = #{weight,jdbcType=INTEGER},
      len = #{len,jdbcType=INTEGER},
      variety = #{variety,jdbcType=INTEGER},
      man = #{man,jdbcType=INTEGER},
      yn = #{yn,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>