<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cat.dao.NoteMapper" >
  <resultMap id="BaseResultMap" type="com.cat.pojo.Note" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="man" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="time" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="introduct" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cat.pojo.Note" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="man" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="time" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="introduct" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, man, time, title, introduct
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from miao_note
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from miao_note
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cat.pojo.Note" >
    insert into miao_note (id, man, time, title, 
      introduct, content)
    values (#{id,jdbcType=INTEGER}, #{man,jdbcType=INTEGER}, #{time,jdbcType=DATE}, #{title,jdbcType=VARCHAR}, 
      #{introduct,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cat.pojo.Note" >
    insert into miao_note
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="man != null" >
        man,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="introduct != null" >
        introduct,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="man != null" >
        #{man,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduct != null" >
        #{introduct,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cat.pojo.Note" >
    update miao_note
    <set >
      <if test="man != null" >
        man = #{man,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduct != null" >
        introduct = #{introduct,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cat.pojo.Note" >
    update miao_note
    set man = #{man,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE},
      title = #{title,jdbcType=VARCHAR},
      introduct = #{introduct,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cat.pojo.Note" >
    update miao_note
    set man = #{man,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE},
      title = #{title,jdbcType=VARCHAR},
      introduct = #{introduct,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByIdAndUserName" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from miao_note
    where id = #{userId}
  </select>
</mapper>