<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cat.dao.PicMapper" >
  <resultMap id="BaseResultMap" type="com.cat.pojo.Pic" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cat_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="edit_time" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="pic_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="yn" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="detail_show" jdbcType="VARCHAR" javaType="java.lang.Byte" />
      <arg column="diary_use" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="article_use" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, cat_id, edit_time, pic_url, yn, detail_show, diary_use, article_use
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from miao_pic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from miao_pic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cat.pojo.Pic" >
    insert into miao_pic (id, cat_id, edit_time, 
      pic_url, yn, detail_show, 
      diary_use, article_use)
    values (#{id,jdbcType=INTEGER}, #{catId,jdbcType=INTEGER}, #{editTime,jdbcType=DATE}, 
      #{picUrl,jdbcType=VARCHAR}, #{yn,jdbcType=TINYINT}, #{detailShow,jdbcType=VARCHAR}, 
      #{diaryUse,jdbcType=TINYINT}, #{articleUse,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cat.pojo.Pic" >
    insert into miao_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="yn != null" >
        yn,
      </if>
      <if test="detailShow != null" >
        detail_show,
      </if>
      <if test="diaryUse != null" >
        diary_use,
      </if>
      <if test="articleUse != null" >
        article_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=DATE},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=TINYINT},
      </if>
      <if test="detailShow != null" >
        #{detailShow,jdbcType=VARCHAR},
      </if>
      <if test="diaryUse != null" >
        #{diaryUse,jdbcType=TINYINT},
      </if>
      <if test="articleUse != null" >
        #{articleUse,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cat.pojo.Pic" >
    update miao_pic
    <set >
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=DATE},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=TINYINT},
      </if>
      <if test="detailShow != null" >
        detail_show = #{detailShow,jdbcType=VARCHAR},
      </if>
      <if test="diaryUse != null" >
        diary_use = #{diaryUse,jdbcType=TINYINT},
      </if>
      <if test="articleUse != null" >
        article_use = #{articleUse,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cat.pojo.Pic" >
    update miao_pic
    set cat_id = #{catId,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=DATE},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      yn = #{yn,jdbcType=TINYINT},
      detail_show = #{detailShow,jdbcType=VARCHAR},
      diary_use = #{diaryUse,jdbcType=TINYINT},
      article_use = #{articleUse,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>