html,body,ul,li,p,h3
  margin 0
  padding 0
body
  *
    font-family "Microsoft YaHei",Arial, "Helvetica Neue", Helvetica, sans-serif
li
  list-style none
a
  text-decoration none
input:focus,
button:focus,
textarea:focus
  outline none

